@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Manrope:wght@400;500;600&display=swap');

:root{
    --text-color: #171719;
    --header-color: #131022;
    --subheader-color: #3E4265;
    --des-color: #585C7B;
    --bgc-color: #EBECFE;
    --style-color: #0D6EFD;
    --type-color: #B4B7C9;
    --footer-color: #9397AD;
    --logo-color: #484ACF;
    --white-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

html{
    /* HACK 1rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6px;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text{
    font-size: 1.4rem;
    line-height: calc(20/14);
    font-weight: 500;
}

.text__sub{
    font-size: 1.8rem;
    line-height: 1.55556;
    font-weight: 500;
}

.text__header{
    font-size: 3.6rem;
    line-height: 1.222222;
    font-weight: 500;
    color: var(--header-color);
}

.text__des{
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
}

.text__style{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
}

.container__full{
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1210px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

.container__large {
    width: 100%;
    max-width: 1170px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.df__center{
    justify-content: center;
}

.df__unset{
    justify-content: unset;
}

.df__flex{
    flex-direction: column
}

button{
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    transition: all 0.2s linear;
}

.transition{
    transition: all 0.2s linear;
}

.btn{
    padding: 8px 40px;
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 8px;
}

.btn:hover{
    background-color: #0D6EFD;
    color: #ffffff;
}

ul{
    list-style: none;
}

.hide{
    visibility: hidden;
}

.none{
    display: none;
}

/* slider ======================================================================= */

.slick-arrow{
    /* abscentery code táº¯t */
    position: absolute;
    top: -19%;
    transform: translateX(-35%);
    z-index: 2;
    color: white;
    background-color: #22C55E;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 1;
}

.slick-prev{
    right: 60px;
}

.slick-next{
    right: 0;
}

.slick-dots{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px; 
}

.slick-dots button{
    font-size: 0;
    background-color: #E2E5F1;
    border: none;
    outline: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.slick-dots .slick-active{
    transition: all 0.8s ease-in;

}

.slick-dots .slick-active button{
    background-color: #22C55E;
}


.slick-disabled{
    background-color: #D3FCD2;
}

/* login============================================================ */
.app {
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.app h1 {
	text-align: center;
	padding-top: 40px;
}

.app form {
	padding: 0 40px;
}

form .form-control {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 40px 0;
}

.form-control.success {
	border-bottom-color: #2691d9;
}

.form-control.error {
	border-bottom-color: #e74c3c;
}

.form-control input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.form-control span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: 0.3s;
}

.form-control input:focus ~ span::before {
	width: 100%;
}

input[type='submit'] {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}

input[type='submit']:hover {
	background-color: #08609a;
}

.login_link,
.signup_link {
	margin: 35px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}

.login_link a,
.signup_link a {
	color: #2691d9;
	text-decoration: none;
}

.login_link a:hover,
.signup_link a:hover {
	text-decoration: underline;
}
